name: Flutter Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  setup-flutter:
    runs-on: ubuntu-latest
    outputs:
      flutter-cache: ${{ steps.cache-flutter.outputs.cache-hit }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: stable

      - name: Cache Flutter dependencies
        id: cache-flutter
        uses: actions/cache@v3
        with:
          path: |
            ~/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      - name: Install dependencies
        run: flutter pub get

  build-windows:
    runs-on: windows-latest
    needs: setup-flutter
    steps:
      - uses: actions/checkout@v3
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: stable
      - name: Install dependencies
        run: flutter pub get
      - name: Build Windows
        run: flutter build windows --release
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Windows-Build
          path: build/windows/runner/Release/

  build-linux:
    runs-on: ubuntu-latest
    needs: setup-flutter
    steps:
      - uses: actions/checkout@v3
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: stable
      - name: Install dependencies
        run: flutter pub get
      - name: Build Linux
        run: flutter build linux --release
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Linux-Build
          path: build/linux/x64/release/bundle/

  build-android:
    runs-on: ubuntu-latest
    needs: setup-flutter
    steps:
      - uses: actions/checkout@v3
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: stable
      - name: Install dependencies
        run: flutter pub get
      - name: Build APK
        run: flutter build apk --release
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: Android-APK
          path: build/app/outputs/flutter-apk/app-release.apk